<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<h2> Checkout </h2> <br/>

<%= form_for @order, url: checkout_path do |f|%>



<p> Please enter your first name to finalize the order of <b><%= number_to_currency current_cart.sub_total %></b> </p><br/>



 
  


<div class="form-line">
<div class="form-group mb-2">

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-line" %>
</div>
</div>



<br/>
<%= f.submit "Submit Order", class: "btn btn-primary" %>
<% end %>
</center>